@{
	ViewData["Title"] = "Cập nhật thông tin";
	Layout = "~/Views/Shared/_Layout.cshtml";
	BlogSinhVienContext context = new BlogSinhVienContext();
	string getImage(byte[] image)
	{
		if (image == null) return "images/avt.png";
		string imageBase64Data = Convert.ToBase64String(image);
		string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
		return imageDataURL;
	}
	SinhVien getSinhVien(string maSV){

		return context.SinhVien.Find(maSV);
	}

	QuanLy getQuanLy(string maQL)
	{
		return context.QuanLy.Find(maQL);
	}
}
<div class="container">
	<section>
		<div class="feature-photo">
			<figure><img src="images/resources/timeline-1.jpg" alt=""></figure>
			<div class="add-btn">
				<span>1M theo dõi</span>
				<a href="#" title="" data-ripple="">Thêm bạn mới</a>
			</div>
			<form class="edit-phto">
				<i class="fa fa-camera-retro"></i>
				<label class="fileContainer">
					Thay đổi ảnh bìa
					<input type="file" />
				</label>
			</form>
			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3">
						<div class="user-avatar">
							<figure>
								@if (User.IsInRole("SV"))
									{
									<img src="@getImage(getSinhVien(User.FindFirst("MaSV").Value.Trim()).HinhAnh)" alt="">
									}

									else
									{
									<img src="@getImage(getQuanLy(User.FindFirst("MaSV").Value.Trim()).HinhAnh)" alt="">
									}
								<form class="edit-phto">
									<i class="fa fa-camera-retro"></i>
									<label class="fileContainer">
										Đổi ảnh đại diện
										<input type="file" />
									</label>
								</form>
							</figure>
						</div>
					</div>
					@* <div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
						<ul>
						<li class="admin-name">
						<h5>Janice Griffith</h5>
						<span>Group Admin</span>
						</li>
						<li>
						<a class="" href="time-line.html" title="" data-ripple="">time line</a>
						<a class="" href="timeline-photos.html" title="" data-ripple="">Photos</a>
						<a class="" href="timeline-videos.html" title="" data-ripple="">Videos</a>
						<a class="" href="timeline-friends.html" title="" data-ripple="">Friends</a>
						<a class="" href="groups.html" title="" data-ripple="">Groups</a>
						<a class="" href="about.html" title="" data-ripple="">about</a>
						<a class="active" href="#" title="" data-ripple="">more</a>
						</li>
						</ul>
						</div>
						</div> *@
				</div>
			</div>
		</div>
	</section><!-- top area -->
	<script>
	</script>
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-4">
								<aside class="sidebar static">
									<div class="widget stick-widget">
										<h4 class="widget-title">Chỉnh sửa</h4>
										<ul class="naves">
											<li class="mb-5">
												<i class="ti-info-alt"></i>
												<a class="active" href="/change-information" title="">Thay đổi thông
													tin</a>
											</li>
											<li class="mb-5">
												<i class="ti-lock"></i>
												<a href="/change-password" title="">Đổi mật khẩu</a>
											</li>
										</ul>
									</div><!-- settings widget -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-8">
								<div class="central-meta">
									<div class="editing-info">
										<h5 class="f-title"><i class="ti-info-alt"></i>Chỉnh sửa thông tin cá nhân</h5>
										@if(ViewBag.SinhVien != null){
											<form method="post" action="/confirm-change-information">
											<div class="form-group mb-5" hidden>
												<input value="@ViewBag.SinhVien.MaSv" id="MaSv" name="MaSv" type="text" required />
												<label class="control-label" for="MaSv">Mã số SV</label><i
													class="mtrl-select"></i>
											</div>
											<div class="form-group half mb-5">
												<input value="@ViewBag.SinhVien.Ho" id="Ho" name="Ho"type="text" required />
												<label class="control-label" for="Ho">Họ</label><i
													class="mtrl-select"></i>
											</div>
											<div class="form-group half mb-5">
												<input value="@ViewBag.SinhVien.Ten" id="Ten" name="Ten" type="text" required />
												<label class="control-label" for="Ten">Tên và tên đệm</label><i
													class="mtrl-select"></i>
											</div>
											<div class="form-group half mb-5">
												<input value="@ViewBag.SinhVien.EmailPrivate" id="EmailPrivate" name="EmailPrivate" type="email" required />
												<label class="control-label" for="EmailPrivate"><a
														href="https://wpkixx.com/cdn-cgi/l/email-protection"
														class="__cf_email__" data-cfemail="4b0e262a22270b">Email cá
														nhân</a></label><i class="mtrl-select"></i>
											</div>
											<div class="form-group half mb-5">
												<input value="@ViewBag.SinhVien.Phone" id="Phone" name="Phone" minlength="10" maxlength="10" type="text"
													required />
												<label class="control-label" for="Phone">Số điện thoại</label><i
													class="mtrl-select"></i>
											</div>
											<div class="form-group half mb-5">
												<input value="@ViewBag.SinhVien.Cccd" id="Cccd" name="Cccd" minlength="12" maxlength="12" type="text"
													required />
												<label class="control-label" for="Cccd">Căn cước công
													dân(CCCD/CMND)</label><i class="mtrl-select"></i>
											</div>
											<div class="form-group half mb-5">
												<input value="@ViewBag.SinhVien.EmailEdu" id="EmailEdu" name="EmailEdu" type="email" required />
												<label class="control-label" for="Phone">Email trường</label><i
													class="mtrl-select"></i>
											</div>
											<!--<div class="form-group half mb-xl-5">
												<input type="date" required="required" />
												<label class="control-label" for="input">Sinh nhật</label><i class="mtrl-select"></i>
											</div> -->
											@if (ViewBag.SinhVien.GioiTinh == true)
											{

												<div class="form-group half mb-5">
													<select class="custom-select" id="GioiTinh" name="GioiTinh">
														<option value="true" selected style="color:red; font-weight:600">Nam
														</option>
														<option value="false" style=" font-weight:600">Nữ</option>
													</select>
													<label class="control-label" for="GioiTinh">Giới tính</label>
													<i class="mtrl-select"></i>
												</div>
											}
											else
											{

												<div class="form-group half mb-5">
													<select class="custom-select" id="GioiTinh" name="GioiTinh">
														<option value="true" style="font-weight:600">Nam</option>
														<option value="false" selected style="color:red; font-weight:600">Nữ
														</option>
													</select>
													<label class="control-label" for="GioiTinh">Giới tính</label><i
													class="mtrl-select"></i>
												</div>
											}
											<div class="form-group mb-5">
												<input value="@ViewBag.SinhVien.DiaChi" id="DiaChi" name="DiaChi" type="text" required />
												<label class="control-label" for="DiaChi">Địa chỉ</label><i
													class="mtrl-select"></i>
											</div>
											<div class="submit-btns">
												<button type="button" class="mtr-btn"><a
														href="/inforpersonal"><span>Hủy</span></a></button>
												<button onsubmit="changInfor()" type="submit" class="mtr-btn"><span>Cập
														nhật</span></button>
											</div>
										</form>
										}else{
											<form method="post" action="/confirm-change-information">
											<div class="form-group mb-5" hidden>
												<input value="@ViewBag.QuanLy.MaQl" id="MaQl" name="MaQl"type="text" required />
												<label class="control-label" for="MaQl">Mã số SV</label><i
													class="mtrl-select"></i>
											</div>
											<div class="form-group half mb-5">
												<input value="@ViewBag.QuanLy.Ho" id="Ho" name="Ho"type="text" required />
												<label class="control-label" for="Ho">Họ</label><i
													class="mtrl-select"></i>
											</div>
											<div class="form-group half mb-5">
												<input value="@ViewBag.QuanLy.Ten" id="Ten" name="Ten" type="text" required />
												<label class="control-label" for="Ten">Tên và tên đệm</label><i
													class="mtrl-select"></i>
											</div>
											<div class="form-group half mb-5">
												<input value="@ViewBag.QuanLy.EmailPrivate" id="EmailPrivate" name="EmailPrivate" type="email" required />
												<label class="control-label" for="EmailPrivate"><a
														href="https://wpkixx.com/cdn-cgi/l/email-protection"
														class="__cf_email__" data-cfemail="4b0e262a22270b">Email cá
														nhân</a></label><i class="mtrl-select"></i>
											</div>
											<div class="form-group half mb-5">
												<input value="@ViewBag.QuanLy.Phone" id="Phone" name="Phone" minlength="10" maxlength="10" type="text"
													required />
												<label class="control-label" for="Phone">Số điện thoại</label><i
													class="mtrl-select"></i>
											</div>
											<div class="form-group half mb-5">
												<input value="@ViewBag.QuanLy.Cccd" id="Cccd" name="Cccd" minlength="12" maxlength="12" type="text"
													required />
												<label class="control-label" for="Cccd">Căn cước công
													dân(CCCD/CMND)</label><i class="mtrl-select"></i>
											</div>
											<div class="form-group half mb-5">
												<input value="@ViewBag.QuanLy.EmailEdu" id="EmailEdu" name="EmailEdu" type="email" required />
												<label class="control-label" for="Phone">Email trường</label><i
													class="mtrl-select"></i>
											</div>
											<!--<div class="form-group half mb-xl-5">
												<input type="date" required="required" />
												<label class="control-label" for="input">Sinh nhật</label><i class="mtrl-select"></i>
											</div> -->
											@if (ViewBag.QuanLy.GioiTinh == true)
											{

												<div class="form-group half mb-5">
													<select class="custom-select" id="GioiTinh" name="GioiTinh">
														<option value="true" selected style="color:red; font-weight:600">Nam
														</option>
														<option value="false" style=" font-weight:600">Nữ</option>
													</select>
													<label class="control-label" for="GioiTinh">Giới tính</label>
													<i class="mtrl-select"></i>
												</div>
											}
											else
											{

												<div class="form-group half mb-5">
													<select class="custom-select" id="GioiTinh" name="GioiTinh">
														<option value="true" style="font-weight:600">Nam</option>
														<option value="false" selected style="color:red; font-weight:600">Nữ
														</option>
													</select>
													<label class="control-label" for="GioiTinh">Giới tính</label><i
													class="mtrl-select"></i>
												</div>
											}
											<div class="form-group mb-5">
												<input value="@ViewBag.QuanLy.DiaChi" id="DiaChi" name="DiaChi" type="text" required />
												<label class="control-label" for="DiaChi">Địa chỉ</label><i
													class="mtrl-select"></i>
											</div>
											<div class="submit-btns">
												<button type="button" class="mtr-btn"><a
														href="/inforpersonal"><span>Hủy</span></a></button>
												<button onsubmit="changInfor()" type="submit" class="mtr-btn"><span>Cập
														nhật</span></button>
											</div>
										</form>
										}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
