@model IEnumerable<BlogSinhVien.Models.Entities.Roles>

@{
    ViewData["Title"] = "Role";
    string getImage(byte[] image){
        if (image == null) return "";
        string imageBase64Data = Convert.ToBase64String(image);
        string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
        return imageDataURL;
    }
}
<partial name="_ArletMessage"></partial>
<partial name="_SuccesArlet"></partial>
<h1>Role</h1>

<div style="display: flex; justify-content:space-between;margin-bottom:10px">
    <a asp-action="Create">Create New</a>
    <form asp-action="search" method="get" class="input-group-sm rounded" style="display:flex">
      <input type="search" name="key" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <button type="submit" class="input-group-text border-0" id="search-addon">
        <i class="fa fa-search"></i>
      </button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên role
            </th>
            <th>
                Hình ảnh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenRole)
            </td>
            <td>
               <img width="120px" height="120px" src="@getImage(item.HinhAnh)" class="img-fluid img-thumbnail" alt="@item.MaRole">
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.MaRole.Trim()">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaRole.Trim()">Details</a> |
                <a asp-action="Delete" onclick="return confirm('are you sure?')" asp-route-id="@item.MaRole.Trim()">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
