@{
	BlogSinhVienNewContext context = new BlogSinhVienNewContext();
	Users nguoiDung = context.Users.Find(Int32.Parse(User.Identity.Name));
	List<BaiDang> getListBD()
	{
		return context.BaiDang.Include(x => x.IduserNavigation)
		.Include(x => x.ChiTietBaiDang)
		.Include(x => x.BinhLuan)
		.Include(x=>x.ToCao)
		.OrderByDescending(x => x.NgayDang)
		.Take(5)
		.ToList();
	}

	List<Users> getListUserSV()
	{
		return context.Users
		.Include(x => x.IdtkNavigation)
		.Include(x => x.IdtkNavigation.IdvaiTroNavigation)
		.Where(x => x.IdtkNavigation.IdvaiTroNavigation.MaVaiTro == "VaiTro02").ToList();
	}



	DateTime FromDay = DateTime.Now.AddDays(-6);
	DateTime ToDay = DateTime.Now;
	string SLBD = "";
	string SLVote = "";
	string SLCmt = "";
	string getweek()
	{
			string e = "";
			int d = (int)Math.Round((ToDay - FromDay).TotalDays, 0);
			for (int i = d; i >= 0; i--)
			{
				e += "'" + ToDay.AddDays(-i).ToString("dd-MM-yyyy") + "'" + ", ";
				SLBD += context.BaiDang.FromSqlRaw("select*from BaiDang where CONVERT(date,NgayDang) = '" + ToDay.AddDays(-i).ToString("yyyy-MM-dd") + "'").Count() + ", ";
				SLCmt += context.BinhLuan.FromSqlRaw("select*from BinhLuan where CONVERT(date,NgayDang) = '" + ToDay.AddDays(-i).ToString("yyyy-MM-dd") + "'").Count() + ", ";
				SLVote += context.Vote.FromSqlRaw("select*from Vote where CONVERT(date,TimeVote) = '" + ToDay.AddDays(-i).ToString("yyyy-MM-dd") + "'").Count() + ", ";
			}
			return e;
	}

	string dayToString(DateTime? a)
	{
		if (a == null)
		{
			return "";
		}
		return a.Value.ToString("dd-MM-yyyy HH:mm");
	}
}

<div class="gap2 gray-bg" style="margin-top:50px">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="row merged20" id="page-contents">
					<div class="col-lg-2">

					</div><!-- sidebar -->
					<div class="col-lg-8">
						<div class="topbar stick top-menu-manager" style="position: unset;">
							<div class="top-area" style="width:auto;">
								<ul class="setting-area">
									<li class="menu-manager activel" title="Bài viết"
										style="cursor:pointer;margin-right:0;" id="quanlybaiviet"
										onclick="active('quanlybaiviet')">Quản lý bài viết</li>
									<li class="menu-manager" title="Quản lý sinh viên"
										style="cursor:pointer;margin-right:0;" id="quanlysv"
										onclick="active('quanlysv')">Quản lý sinh viên</li>
									<li class="menu-manager" title="Thống kê" style="cursor:pointer;margin-right:0;"
										id="thongke" onclick="active('thongke')">Thống kê hoạt động</li>
								</ul>
							</div>
							<div class="top-search" style="margin: auto 1%;">
								<div class="search-menu-manager">
									<input id="search_manager" onkeydown="searchManagerEnter(event)" type="text"
										placeholder="Tìm kiếm">
									<button style="border:none" onclick="searchManager()" data-ripple><i
											class="ti-search"></i></button>
								</div>
							</div>
						</div>
						<div id="contain_quanlybaiviet" class="contain">
							@foreach (BaiDang bd in getListBD())
							{
								<div class="central-meta item">
									<div class="user-post">
										<div class="friend-info">
											<figure>
												<img width="60px" style="max-height: 60px;max-width:60px;object-fit: cover;"
												src="~/images/avts/@bd.IduserNavigation.HinhAnh" alt="">
											</figure>
											<div class="friend-name">
												<ins style="display:flex;justify-content:space-between;">
													<a href="/profile/@bd.Iduser" title="">
														@bd.IduserNavigation.Ho
														@bd.IduserNavigation.Ten</a>
													@if (bd.TrangThai == true)
													{
														<div class="mb-0 d-flex">
														<p class="mb-0" style="color:lawngreen;">Đã duyệt </p>
														<p class="mb-0 ml-1" style="color:red;">(@bd.ToCao.Count)</p>
														</div>
													}
													else
													{
														<div class="mb-0 d-flex">
														<p class="mb-0" style="color:orangered;">Chờ duyệt</p>
														<p class="mb-0 ml-1" style="color:red;">(@bd.ToCao.Count)</p>
														</div>
													}
												</ins>
												<span class="d-flex justify-content-between">@dayToString(bd.NgayDang)
													<div>
														@if (bd.TrangThai == false)
														{
															<a href="/managerment/duyet/@bd.Id"
														onclick="return confirm('Bạn có muốn duyệt bài viết này?')"
														style="color:lawngreen;margin-bottom: 0;cursor:pointer;">
																Duyệt <i class="ti-check"></i>
															</a>
														}
														|
														<a href="/managerment/xoa/@bd.Id"
														onclick="return confirm('Bạn có muốn xoá bài viết này?')"
														style="color:orangered;margin-bottom: 0;cursor:pointer;">
															Xoá <i class="ti-trash"></i>
														</a>
													</div>
												</span>
											</div>
											<div class="post-meta"
											style="display:flex; justify-content: space-around; flex-flow: wrap;">
												@foreach (ChiTietBaiDang item in bd.ChiTietBaiDang)
												{
													@if (item.Type.EndsWith("/png") || item.Type.EndsWith("/jpeg") ||
															item.Type.EndsWith("/jpg"))
													{
														<img style="margin-bottom:10px;" width="32%"
												src="~/BaiDang/@item.Path/@item.NameFile" alt="@item.NameFile">
													}
													@if (item.Type.Trim().EndsWith("/mp4"))
													{
														<video style="margin-bottom:10px;" controls width="32%"
												src="~/BaiDang/@item.Path/@item.NameFile"></video>
													}
													@if (item.Type.Trim().EndsWith(".document"))
													{
														<a href="/download?path=@item.Path&tenFile=@item.NameFile&type=@item.Type"
												class="btn btn-light"
												style="white-space:normal;margin-bottom:10px; max-height:60px">
															<i class="fa fa-file-word-o">
															</i>
															@item.NameFile.Trim()
														</a>
													}
													@if (item.Type.Trim().EndsWith("/pdf"))
													{
														<a href="/download?path=@item.Path&tenFile=@item.NameFile&type=@item.Type"
												class="btn btn-light"
												style="white-space:normal;margin-bottom:10px;max-height:60px">
															<i class="fa fa-file-excel-o">
															</i>
															@item.NameFile.Trim()
														</a>
													}
													@if (item.Type.Trim().EndsWith(".sheet"))
													{
														<a href="/download?path=@item.Path&tenFile=@item.NameFile&type=@item.Type"
												class="btn btn-light"
												style="white-space:normal;margin-bottom:10px;max-height:60px">
															<i class="fa fa-file-pdf-o">
															</i>
															@item.NameFile.Trim()
														</a>
													}
													@if (item.Type.Trim().EndsWith(".presentation"))
													{
														<a href="/download?path=@item.Path&tenFile=@item.NameFile&type=@item.Type"
												class="btn btn-light"
												style="white-space:normal;margin-bottom:10px;max-height:60px">
															<i class="fa fa-file-powerpoint-o">
															</i>
															@item.NameFile.Trim()
														</a>
													}
												}
												<div class="we-video-info">
													<ul>
														<li>
															<span class="comment" data-toggle="tooltip" title="Comments">
																<i class="fa fa-comments-o"></i>
																<ins id="sl_cmt_@bd.Id">@bd.BinhLuan.Count</ins>
															</span>
														</li>
													</ul>
												</div>
												<div class="description">
													<label>
														@bd.Content
													</label>
												</div>
											</div>
										</div>
										<div class="coment-area">
											<ul class="we-comet" id="list_cmt_@bd.Id">
												@foreach (BinhLuan bl in bd.BinhLuan.Take(5).OrderByDescending(x =>
														x.Sllike))
												{
													Users user = context.Users.Find(bl.Iduser);
													<li style="display: flex" class="cmt" id="Cmt_@bl.Id">
														<div class="comet-avatar">
															<img width="40px"
														style="max-height: 40px; max-width:40px;object-fit: cover;"
														src="~/images/avts/@user.HinhAnh" alt="">
														</div>
														<div class="we-comment" style="max-width:83.4%; width:83.4%; ">
															<div class="coment-head"
														style="display:inline-flex;justify-content:space-between">

																<div class="coment-head">
																	<h5><a href="/profile/@bl.Iduser" title="">@user.Ho
																			@user.Ten</a></h5>
																	<span>@dayToString(bl.NgayDang)</span>
																	<i class="fa fa-thumbs-up" style="cursor:pointer;"
																		onclick="vote(@bd.Id,@bl.Id,'@User.Identity.Name')"></i>
																		</div>
																<i style="cursor:pointer;" class="ti-close"
																	onclick=" deleteCmt('@bl.Id')"></i>
															</div>
															<p style="word-break: break-all;">@bl.Content</p>
														</div>
														<div
													style="max-width:6%; width:6%;display:inline-grid;justify-content:center;margin:auto;">
															<div class="vote-item">
																<i class="ti-angle-up"></i>
															</div>
															<div class="vote-item" style="margin-bottom:0;margin-left:2px">
																<h5 id="vote_@bl.Id" class="vote-h">@bl.Sllike</h5>
															</div>

															<div class="vote-item">
																<i class="ti-angle-down"></i>
															</div>
														</div>
													</li>
												}
												<li id="beforeBL_@bd.Id">
													<a href="" onclick="load_More_Cmt(event,@bd.Id,true)" title=""
													id="showmore_@bd.Id" class="showmore underline @bd.Id">more
														comments</a>
												</li>

											</ul>
										</div>
									</div>
								</div>
							}
						<button onclick="load_More_BDM()" class="btn-view btn-load-more"></button>
						</div>
						<div id="contain_quanlysv" class="contain" style="display:none;">
							<div class="central-meta item">
								<div class="user-post">
									<h5 style="border-bottom:solid 1px">Thêm với file excel</h5>
									<form action="/managerment/insert-list-sv" method="post"
										enctype="multipart/form-data" class="input-group mb-3" style="width:40%;">
										<div class="custom-file">
											<label class="custom-file-label" for="inputGroupFile01">Excel file</label>
											<input type="file" name="file" accept=".xlsx,.xls"
												class="custom-file-input" id="inputGroupFile01">
										</div>
										<div class="input-group-append" style="margin-left:5%;">
											<a class="btn btn-info"
												style="background-color:#8be594;border-color:#8be594;border-radius:0;"
												href="/managerment/tai-mau-excel">
												<i class="fa fa-download" aria-hidden="true" title="Tải mẫu"></i></a>
										</div>
										<div class="input-group-append" style="margin-left:5%;">
											<button class="btn btn-info"
												style="background-color:#8be594;border-color:#8be594;border-radius:0;"
												type="submit">
												<i class="fa fa-file-excel-o"></i> Xác nhận</button>
										</div>
									</form>
								</div>
								<div class="user-post" style="margin-bottom:1rem;">
									<h5 style="border-bottom:solid 1px">Thêm thủ công</h5>
									<a href="/managerment/add-sv" class="btn btn-info"
										style="background-color:#8be594;border-color:#8be594;border-radius:0;position:absolute;z-index:1">
										Thêm sinh viên
									</a>
								</div>
								<div class="user-post table-responsive" style="white-space:nowrap">
									<table class="table table-hover" id="table-sv" width="100%">
										<thead style="background-color:lightgray">
											<tr>
												<th>MSSV</th>
												<th>Họ tên</th>
												<th>Email trường</th>
												<th>Tài khoản</th>
												<th>Mật khẩu</th>
												<th>Ghi chú</th>
												<th>Thao tác</th>
											</tr>
										</thead>
										<tbody>
											@foreach (Users sv in getListUserSV())
											{
												<tr>
													<td>@sv.MaSv</td>
													<td>@sv.Ho @sv.Ten</td>
													<td>@sv.EmailEdu</td>
													<td>@sv.IdtkNavigation.TaiKhoan</td>
													<td>@sv.IdtkNavigation.MatKhau</td>
													<td>@sv.GhiChu</td>
													<td>
														<a href="/managerment/update-sinh-vien/@sv.Id" class="btn btn-primary">Chỉnh sửa</a>
															@if (@sv.IdtkNavigation.TrangThai == true)
															{
																<button id="trangThai_@sv.IdtkNavigation.Id" onclick="doiTrangThai('@sv.IdtkNavigation.Id')" class="btn btn-danger">Khoá</button>
															}
															else
															{
																<button id="trangThai_@sv.IdtkNavigation.Id" onclick="doiTrangThai('@sv.IdtkNavigation.Id')" class="btn btn-success">Khôi phục</button>
															}
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div id="contain_thongke" class="contain" style="display:none;">
							<div class="central-meta item">
								<form action="/managerment/xuat-bao-cao" method="post" class="row justify-content-between">
									<div class="col-lg-2 col-sm-2">
										<input type="text" class="form-date form-control" name="fromDay"
											value="@DateTime.Now.AddDays(-6).ToString("dd-MM-yyyy")" id="fromDay" />
									</div>
									<div class="col-lg-2 col-sm-2">
										<input type="text" class="form-date form-control" name="toDay"
											value="@DateTime.Now.ToString("dd-MM-yyyy")" id="toDay" />
									</div>
									<div class="col-lg-1 col-sm-1">
										<div class="btn btn-secondary" type="button" id="searchChart" onclick="searchChart()"
											style="border-radius:0">
											<i class="ti-search"></i>
										</div>
									</div>
									<div class="col-lg-5 col-sm-5">
									</div>
									<div class="col-lg-2 col-sm-2">
										<button class="btn"
											style="background-color:#8be594;border-color:#8be594;border-radius:0;color: white;"
											type="submit">
											Xuất báo cáo</button>
									</div>
								</form>
								<div class="user-post" id="chartTK">
									<canvas id="myChart"></canvas>
									<script src="~/js/chart.js"></script>
									<script>
										var ctx = document.getElementById('myChart').getContext('2d');
										var myChart = new Chart(ctx, {
											type: 'bar',
											data: {
												labels: [@Html.Raw(getweek())],
												datasets: [{
													data: [@Html.Raw(SLBD)],
													label: "Lượt đăng",
													borderColor: "rgb(62,149,205)",
													backgroundColor: "rgb(62,149,205,0.1)",
													borderWidth: 2
												}, {
													data: [@Html.Raw(SLCmt)],
													label: "Bình luận",
													borderColor: "rgb(60,186,159)",
													backgroundColor: "rgb(60,186,159,0.1)",
													borderWidth: 2
												}, {
													data: [@Html.Raw(SLVote)],
													label: "Vote",
													borderColor: "rgb(255,165,0)",
													backgroundColor: "rgb(255,165,0,0.1)",
													borderWidth: 2
												}
												]
											},
										});
									</script>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2">

					</div><!-- sidebar -->
				</div>
			</div>
		</div>
	</div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/QuanLy.js"></script>
