@{
	BlogSinhVienNewContext context = new BlogSinhVienNewContext();
	Users nguoiDung = context.Users.Find(Int32.Parse(User.Identity.Name));
	string dayToString(DateTime? a)
	{
		if (a == null)
		{
			return "";
		}
		return a.Value.ToString("dd-MM-yyyy HH:mm");
	}
}
@foreach (BinhLuan bl in ViewBag.ListCmt)
{
	Users user = context.Users.Find(bl.Iduser);
	<li style="display: flex" class="cmt" id="Cmt_@bl.Id">
		<div class="comet-avatar">
			<img width="40px" style="max-height: 40px; max-width:40px;object-fit: cover;" src="~/images/avts/@user.HinhAnh"
			alt="">
		</div>
		@if (bl.Iduser != nguoiDung.Id)
		{
																					<div class="we-comment" style="max-width:83.4%; width:83.4%; ">
																						<div class="coment-head">
																							<h5><a href="/profile/@bl.Iduser" title="">@user.Ho
							@user.Ten</a></h5>
																							<span>@dayToString(bl.NgayDang)</span>
																							<i class="fa fa-thumbs-up" style="cursor:pointer;"
																			onclick="vote(@bl.IdbaiDang,@bl.Id,'@User.Identity.Name')"></i>
																						</div>
																						<p style="word-break: break-all;">@bl.Content</p>
																					</div>
		}
		else
		{
																				<div class="we-comment" style="max-width:83.4%; width:83.4%; ">
																								<div class="coment-head"
																					style="display:inline-flex;justify-content:space-between">

																									<div class="coment-head">
																										<h5><a href="/profile/@bl.Iduser" title="">@user.Ho
								@user.Ten</a></h5>
																										<span>@dayToString(bl.NgayDang)</span>
																										<i class="fa fa-thumbs-up" style="cursor:pointer;"
																									onclick="vote(@bl.IdbaiDang,@bl.Id,'@User.Identity.Name')"></i>
																											</div>
																									<i style="cursor:pointer;" class="ti-close"
																								onclick=" deleteCmt('@bl.Id')"></i>
																								</div>
																								<p style="word-break: break-all;">@bl.Content</p>
																							</div>
		}
		<div style="max-width:6%; width:6%;display:inline-grid;justify-content:center;margin:auto;">
			<div class="vote-item">
				<i class="ti-angle-up"></i>
			</div>
			<div class="vote-item" style="margin-bottom:0;margin-left:2px">
				<h5 id="vote_@bl.Id" class="vote-h">@bl.Sllike</h5>
			</div>

			<div class="vote-item">
				<i class="ti-angle-down"></i>
			</div>
		</div>
	</li>
}