
@{
	string getImage(string MaSV)
	{
		BlogSinhVienContext context = new BlogSinhVienContext();
		SinhVien sv = context.SinhVien.Find(MaSV);

		if (sv.HinhAnh == null) return "images/avt.png";
		string imageBase64Data = Convert.ToBase64String(sv.HinhAnh);
		string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
		return imageDataURL;
	}
	string getName(string MaSV){
		BlogSinhVienContext context = new BlogSinhVienContext();
		SinhVien sv = context.SinhVien.Find(MaSV);
		return sv.Ho +" "+ sv.Ten;
	}
}
<div class="gap2 gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-1"></div>
							<div class="col-lg-10">
								<div class="central-meta">
									<div class="messages">
										<h5 class="f-title"><i class="ti-bell"></i>Chat<span class="more-options"><i class="fa fa-ellipsis-h"></i></span></h5>
										<div class="message-box">
											<ul class="peoples">
										@foreach (Conversation a in ViewBag.Conversations)
											{
												<li onclick="loadMesBox(@a.MaC)">
												@if (a.MaSinhVien1 == User.FindFirst("MaSV").Value)
												{
														<figure>
															<img width="45px" style="max-height: 45px; max-width:45px;" src="@getImage(a.MaSinhVien2)" alt="@a.MaSinhVien2">
														</figure>
														<div class="people-name">
															<span>@getName(a.MaSinhVien2)</span>
														</div>
													
												}else{
													<figure>
																<img width="45px" style="max-height: 45px; max-width:45px;" src="@getImage(a.MaSinhVien1)" alt="@a.MaSinhVien1">
													</figure>
													<div class="people-name">
														<span>@getName(a.MaSinhVien1)</span>
													</div>
												}
												</li>
											}
											</ul>
											<div id="chatBox" class="peoples-mesg-box" style="min-width:480px;">
												<div id="headerMessage" class="conversation-head">
													<figure><img src="@getImage(ViewBag.MaSV)" alt=""></figure>
													<span>@getName(ViewBag.MaSV)</span>
												</div>
												<ul id="messagesList" class="chatting-area">

												@foreach (Message m in ViewBag.messages)
													{
														@if (User.FindFirst("MaSV").Value == m.MaSinhVienSend)
															{
																<li class="me">
																	<figure></figure>
																	<p >@m.Content</p>
																</li>
															}
														else
															{
																<li class="you">
																	<figure><img src="@getImage(m.MaSinhVienSend)" alt=""></figure>
																	<p>@m.Content</p>
																</li>
															}
													}
												<script>
													var objDiv = document.getElementById("messagesList");
													objDiv.scrollTop = objDiv.scrollHeight;
												</script>
												</ul>
												<div class="message-text-container">
													<form>
														<textarea id="messageInput"></textarea>
														<input id="MaC" value="@ViewBag.MaC" style="display:none;">
														<input id="userInput" value="@User.FindFirst("MaSV").Value.Trim()" style="display:none;">
														<button id="sendButton" title="send"><i class="fa fa-paper-plane"></i></button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div><!-- centerl meta -->
							<div class="col-lg-1"></div>
						</div>	
					</div>
				</div>
			</div>
		</div>	
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>